<div class="jumbotron">
    <h1>API DE ARANDA</h1>
    <p class="lead">En este Sitio encontrará la interacción con las Api de Aranda.</p>
    <p><a href="../Inicio_Sesion" class="btn btn-primary btn-lg" target="blank">Iniciar Sesión &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lista de Nombres</h2>
        <p>Obtiene un listado de nombres para llenar un campo tipo "Combo". 
        Ideal para realizar pruebas de carga de datos obtenidos desde el API. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Ir a Lista &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crear un Caso</h2>
        <p>Aquí podrá crear un caso en la Mesa de Aranda (según lo configure). el proceso lo guiará para que pueda completar la información</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Ir a Crear Caso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultar un caso</h2>
        <p>Podrá consultar la información realcionada con un caso en específico.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Ir a consultar caso &raquo;</a></p>
    </div>
</div>
